name: BUILD_DOCKER(XRAY)

on:
  workflow_dispatch:
    inputs:
      release_archives:
        description: "enable release archives"
        default: true
        type: boolean
  workflow_call:
    inputs:
      release_archives:
        description: "enable release archives"
        default: true
        type: boolean

jobs:
  pre:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    outputs:
      default_commit_id: HEAD~0
      default_branch: ${{ steps.set_global_params.outputs.default_branch }}
      core_release_version: ${{ steps.set_global_params.outputs.core_release_version }}
      ACTOR_LC: ${{ steps.set_case_params.outputs.ACTOR_LC }}
      REPOSITORY_LC: ${{ steps.set_case_params.outputs.REPOSITORY_LC }}
    steps:
      - name: set global params
        id: set_global_params
        run: |
          echo "default_branch=main" >> "$GITHUB_OUTPUT"
          core_release_version=$(nslookup api.github.com 8.8.4.4 | grep '^Address:' | grep -v 8.8.4.4 | sed 's/Address: //g' | head -n1 | xargs -I{} curl -ks --resolve api.github.com:443:{} "https://api.github.com/repos/DTCproto/NG/releases" | grep "tag_name" | head -n 1 | sed 's/\"//g;s/,//g;s/ //g;s/tag_name://g' | xargs -i echo '{}')
          echo "core_release_version=${core_release_version}" >> "$GITHUB_OUTPUT"

      - name: set lower case name
        id: set_case_params
        run: |
          echo "ACTOR_LC=${ACTOR,,}" >> "$GITHUB_OUTPUT"
          echo "REPOSITORY_LC=${REPOSITORY,,}" >> "$GITHUB_OUTPUT"
        env:
          ACTOR: '${{ github.actor }}'
          REPOSITORY: '${{ github.repository }}'

  build-base:
    runs-on: ubuntu-latest
    needs: [pre]
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    # 同一个标签，不能多次push，会强制清空覆盖所有数据
    # strategy:
    #   matrix:
    #     os: [linux/amd64, linux/arm64]
    steps:
      #- name: Free Disk-Space
      #  run: df -h && sudo apt-get clean && docker system prune -a -f && sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc && df -h

      - name: (Before)Free Disk-Space
        run: df -h

      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v3  # Use @main for latest, @v3 for stable
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          #remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          #remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
          rm_cmd: "rmz"  # Use 'rmz' for faster deletion (default: 'rm')
          #rmz_version: "3.1.1"  # Required when rm_cmd is 'rmz'
          testing: false

      - name: (After)Free Disk-Space
        run: df -h

      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v10.0.4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install APT dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: git curl wget

      #- name: init
      #  run: |
      #    ls ${{ github.workspace }}/mainline/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Login to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 自动标签
      #- name: Extract metadata (tags, labels) for Docker
      #  id: meta
      #  uses: docker/metadata-action@v5
      #  with:
      #    images: |
      #      ${{ secrets.DOCKERHUB_USERNAME }}/nginx
      #      ghcr.io/${{ github.repository }}

      - name: Build And Push (docker)
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}/mainline/
          file: ${{ github.workspace }}/mainline/alpine.Dockerfile
          platforms: |
            linux/amd64
            linux/arm64
          build-args: |
            RELEASE_ACCOUNT=DTCproto
          push: ${{ inputs.release_archives }}
          provenance: false
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/xray:alpine-${{ needs.pre.outputs.core_release_version }}
            ${{ secrets.DOCKERHUB_USERNAME }}/xray:alpine-latest
            ${{ secrets.DOCKERHUB_USERNAME }}/xray:alpine
            ${{ secrets.DOCKERHUB_USERNAME }}/xray:latest
            ghcr.io/${{ needs.pre.outputs.ACTOR_LC }}/xray:alpine-${{ needs.pre.outputs.core_release_version }}
            ghcr.io/${{ needs.pre.outputs.ACTOR_LC }}/xray:alpine-latest
            ghcr.io/${{ needs.pre.outputs.ACTOR_LC }}/xray:alpine
            ghcr.io/${{ needs.pre.outputs.ACTOR_LC }}/xray:latest
          #cache-from: type=registry,ref=ghcr.io/${{ needs.pre.outputs.ACTOR_LC }}/xray:buildcache
          #cache-to: type=registry,ref=ghcr.io/${{ needs.pre.outputs.ACTOR_LC }}/xray:buildcache,mode=max
          # 完全禁用缓存(二选一)
          no-cache: true
