name: BUILD_APK_BY_MANUAL(NG&XRAY)

on:
  workflow_dispatch:
    inputs:
      x_commit_id:
        description: "指定Xray-core使用commit id版本"
        required: true
        default: "HEAD~0"
        type: string
      x_lib_repo:
        description: "指定AndroidLibXrayLite仓库"
        required: true
        default: "DTCproto"
        type: choice
        options:
          - "DTCproto"
          - "2dust"
      x_lib_branch:
        description: "指定~XrayLite分支"
        required: true
        default: "main"
        type: choice
        options:
          - "main"
      ng_commit_id:
        description: "指定v2rayNG使用commit id版本"
        required: true
        default: "HEAD~0"
        type: string
      hevtun_commit_id:
        description: "指定HevTun使用commit id版本"
        required: true
        default: "HEAD~0"
        type: string
      specify_hevtun:
        description: "specify HevTun version"
        default: true
        type: boolean
      restore_hevtun:
        description: "restore hevtun"
        default: false
        type: boolean
      build_xray_elf:
        description: "build xray"
        default: true
        type: boolean
      release_archives:
        description: "enable release archives"
        default: true
        type: boolean

concurrency:
  group: ${{ github.workflow }}

jobs:
  pre:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    outputs:
      x_branch: ${{ steps.set_global_params.outputs.x_branch }}
      ng_repo: "2dust"
      ng_branch: "master"
      hevtun_branch: "main"
      default_commit_id: "HEAD~0"
      ndk_version: "29.0.14206865"
      cmdline_tools_version: "13114758"
      platforms_short_version: "36"
      platforms_full_version: "36.1.0"
    steps:
      - name: set global params
        id: set_global_params
        run: |
          echo "x_branch=main" >> "$GITHUB_OUTPUT"

  build:
    runs-on: ubuntu-latest
    needs: [pre]
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    outputs:
      xray_short_commit_id: ${{ steps.set_global_params.outputs.xray_short_commit_id }}
      ng_short_commit_id: ${{ steps.set_global_params.outputs.ng_short_commit_id }}
      hevtun_short_commit_id: ${{ steps.set_global_params.outputs.hevtun_short_commit_id }}
    steps:
      #- name: Free Disk-Space
      #  run: df -h && sudo apt-get clean && docker system prune -a -f && sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc && df -h

      - name: (Before)Free Disk-Space
        run: df -h

      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v3  # Use @main for latest, @v3 for stable
        with:
          #remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          #remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          #remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
          rm_cmd: "rmz"  # Use 'rmz' for faster deletion (default: 'rm')
          #rmz_version: "3.1.1"  # Required when rm_cmd is 'rmz'
          testing: false

      - name: (After)Free Disk-Space
        run: df -h

      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: java version
        run: |
          java --version

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.25.6'
      - name: Install gomobile
        run: |
          go version
          go install golang.org/x/mobile/cmd/gomobile@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      #- name: Set up Gradle
      #  uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          log-accepted-android-sdk-licenses: false
          cmdline-tools-version: '${{ needs.pre.outputs.cmdline_tools_version }}'
          packages: 'platforms;android-${{ needs.pre.outputs.platforms_short_version }} build-tools;${{ needs.pre.outputs.platforms_full_version }} platform-tools'

      - name: Install NDK
        run: |
          echo "y" | ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager \
            --channel=0 \
            --install "ndk;${{ needs.pre.outputs.ndk_version }}"
          echo "NDK_HOME=${ANDROID_HOME}/ndk/${{ needs.pre.outputs.ndk_version }}" >> "$GITHUB_ENV"
          echo "ANDROID_NDK_HOME=${ANDROID_HOME}/ndk/${{ needs.pre.outputs.ndk_version }}" >> "$GITHUB_ENV"

      - name: Install System Tools
        run: |
          sudo apt install tree -y

      - name: git clone v2rayNG
        run: |
          mkdir -p ${{ github.workspace }}/build
          cd ${{ github.workspace }}/build
          git clone -b ${{ needs.pre.outputs.ng_branch }} https://github.com/${{ needs.pre.outputs.ng_repo }}/v2rayNG.git
          cd ${{ github.workspace }}/build/v2rayNG
          git checkout --force --quiet ${{ inputs.ng_commit_id }}
          git submodule update --init --recursive

      - name: specify hevtun version
        if: ${{ inputs.specify_hevtun }}
        run: |
          cd ${{ github.workspace }}/build/v2rayNG/hev-socks5-tunnel
          git fetch --all
          git pull origin ${{ needs.pre.outputs.hevtun_branch }}
          git checkout --force --quiet ${{ inputs.hevtun_commit_id }}
          git submodule update --init --recursive

      - name: fix Gradle Pre
        run: |
          cd ${{ github.workspace }}/build/v2rayNG/V2rayNG
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          chmod +x gradlew

      - name: edit v2rayNG applicationId(x.hev.dev)
        run: |
          cd ${{ github.workspace }}/build/v2rayNG/V2rayNG
          chmod 755 *
          sed -i 's/applicationId = "com.v2ray.ang"/applicationId = "com.xray.ang.hev.dev"/' ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/build.gradle.kts

      #- name: fix v2rayNG libs version(mmkv)
      #  run: |
      #    cd ${{ github.workspace }}/build/v2rayNG/V2rayNG
      #    sed -i 's/mmkvStatic = "1.3.12"/mmkvStatic = "1.3.14"/' ${{ github.workspace }}/build/v2rayNG/V2rayNG/gradle/libs.versions.toml

      - name: add v2rayNG ndk version
        run: |
          sed -i $'/compileSdk = */a\\\n    ndkVersion = "${{ needs.pre.outputs.ndk_version }}"' ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/build.gradle.kts

      - name: enable V3 sign
        run: |
          sed -i $'/android {/r ${{ github.workspace }}/ext/signing_enable_config.kts' ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/build.gradle.kts
          sed -i $'/isMinifyEnabled = */r ${{ github.workspace }}/ext/signing_buildtype_release.kts' ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/build.gradle.kts

      - name: import apk sign config
        run: |
          cp ${{ github.workspace }}/.github/workflows/dt.jks ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/dt.jks

      - name: git clone AndroidLibXrayLite
        run: |
          mkdir -p ${{ github.workspace }}/build
          cd ${{ github.workspace }}/build
          git clone -b ${{ inputs.x_lib_branch }} https://github.com/${{ inputs.x_lib_repo }}/AndroidLibXrayLite.git
          cd ${{ github.workspace }}/build/AndroidLibXrayLite
          git checkout --force --quiet ${{ needs.pre.outputs.default_commit_id }}

      - name: use git remote repo xray
        run: |
          mkdir -p ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild
          cd ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild
          rm -rf Xray-core
          git clone -b ${{ needs.pre.outputs.x_branch }} https://github.com/XTLS/Xray-core.git
          cd ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core
          git checkout --force --quiet ${{ inputs.x_commit_id }}
          x_short_version=$(git rev-parse --short HEAD)
          echo "x_short_version=${x_short_version}" >> "$GITHUB_ENV"
          x_describe_version=$(git describe --always --dirty)
          echo "x_describe_version=${x_describe_version}" >> "$GITHUB_ENV"
          build_additional_info="${x_describe_version}(${x_short_version})"
          echo "build_additional_info=${build_additional_info}" >> "$GITHUB_ENV"
          x_genproto_version=$(awk '$1 == "google.golang.org/genproto/googleapis/rpc" {print $2}' go.mod)
          echo "x_genproto_version=${x_genproto_version}" >> "$GITHUB_ENV"

      - name: edit lib version
        run: |
          sed -i 's/var version/\/\/ var version/g' ${{ github.workspace }}/build/AndroidLibXrayLite/libv2ray_main.go
          echo ${{ env.x_short_version }} | xargs -I '{}' sed -i 's/fmt.Sprintf("Lib v%d, Xray-core v%s", version, core.Version())/fmt.Sprintf("(Lib)Xray-core v%s", core.Version()+"@{}")/g' ${{ github.workspace }}/build/AndroidLibXrayLite/libv2ray_main.go

      - name: fix lib conflict
        run: |
          cp -rf ${{ github.workspace }}/ext/nouse.go ${{ github.workspace }}/build/AndroidLibXrayLite
          cd ${{ github.workspace }}/build/AndroidLibXrayLite
          go get google.golang.org/genproto@${{ env.x_genproto_version }}
          go get google.golang.org/genproto/googleapis/rpc@${{ env.x_genproto_version }}

      - name: go get specify xray
        run: |
          cd ${{ github.workspace }}/build/AndroidLibXrayLite
          go get github.com/xtls/xray-core@${{ env.x_short_version }}
          go mod tidy

      - name: mkdir restore dir
        run: |
          rm -rf ${{ github.workspace }}/build/restore/*
          mkdir -p ${{ github.workspace }}/build/restore/hevtun/libs/

      - name: set global params
        id: set_global_params
        run: |
          cd ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core
          echo "xray_short_commit_id=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
          cd ${{ github.workspace }}/build/v2rayNG
          echo "ng_short_commit_id=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
          cd ${{ github.workspace }}/build/v2rayNG/hev-socks5-tunnel
          echo "hevtun_short_commit_id=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: set restore hash params
        run: |
          echo "hash_hevtun_head=${{ hashFiles('build/v2rayNG/.git/modules/hev-socks5-tunnel/HEAD') }}-${{ hashFiles('build/v2rayNG/compile-hevtun.sh') }}" >> "$GITHUB_ENV"

      - name: Build xray elf
        if: ${{ inputs.build_xray_elf }}
        run: |
          cd ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core
          echo 'Building Xray for windows(amd64)'
          mkdir -p build_assets/Xray-windows-64
          GOEXPERIMENT=greenteagc CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o build_assets/Xray-windows-64/xray.exe -trimpath -buildvcs=false -gcflags="all=-l=4" -ldflags="-X github.com/xtls/xray-core/core.build=${{ env.build_additional_info }} -s -w -buildid=" -v ./main
          echo 'Building Xray for linux(amd64)'
          mkdir -p build_assets/Xray-linux-64
          GOEXPERIMENT=greenteagc CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o build_assets/Xray-linux-64/xray -trimpath -buildvcs=false -gcflags="all=-l=4" -ldflags="-X github.com/xtls/xray-core/core.build=${{ env.build_additional_info }} -s -w -buildid=" -v ./main
          echo 'Building Xray for linux(arm64)'
          mkdir -p build_assets/Xray-linux-arm64-v8a
          GOEXPERIMENT=greenteagc CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o build_assets/Xray-linux-arm64-v8a/xray -trimpath -buildvcs=false -gcflags="all=-l=4" -ldflags="-X github.com/xtls/xray-core/core.build=${{ env.build_additional_info }} -s -w -buildid=" -v ./main
          tree ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core/build_assets
 
      - name: zip xray elf
        if: ${{ inputs.build_xray_elf }}
        run: |
          cd ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core/build_assets
          for bin_dir in */; do
            cd ${bin_dir}
            touch -mt $(date +%Y01010000) *
            zip -9vr ../${bin_dir%/}.zip .
            cd ../
          done
          tree ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core/build_assets

      - name: Build libv2ray aar
        run: |
          cd ${{ github.workspace }}/build/AndroidLibXrayLite
          gomobile init
          go mod tidy -v
          GOEXPERIMENT=greenteagc gomobile bind -v -androidapi 21 -trimpath -ldflags='-s -w -buildid=' ./
          mkdir -p ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/libs
          cp *.aar ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/libs/

      - name: Restore cache hevtun
        if: ${{ inputs.restore_hevtun }}
        id: cache-hevtun-restore
        uses: actions/cache/restore@v5
        with:
          path: ${{ github.workspace }}/build/restore/hevtun/libs/
          key: lib-hevtun-${{ runner.os }}-${{ env.hash_hevtun_head }}

      - name: Build ext libs(hevtun)
        if: ${{ steps.cache-hevtun-restore.outputs.cache-hit != 'true' }}
        run: |
          cd ${{ github.workspace }}/build/v2rayNG
          mkdir -p ${{ github.workspace }}/build/v2rayNG/libs/
          bash compile-hevtun.sh
          tree ${{ github.workspace }}/build/v2rayNG/libs/
          cp -r ${{ github.workspace }}/build/v2rayNG/libs/* ${{ github.workspace }}/build/restore/hevtun/libs/

      - name: Save cache hevtun
        if: ${{ inputs.restore_hevtun && steps.cache-hevtun-restore.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/build/restore/hevtun/libs/
          key: lib-hevtun-${{ runner.os }}-${{ env.hash_hevtun_head }}

      - name: manage libs
        run: |
          mkdir -p ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/libs/
          cp -r ${{ github.workspace }}/build/restore/hevtun/libs/* ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/libs/

      - name: Build apk
        run: |
          tree ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/libs/
          cd ${{ github.workspace }}/build/v2rayNG/V2rayNG
          ./gradlew assembleRelease -Pandroid.injected.signing.store.file=${{ github.workspace }}/build/v2rayNG/V2rayNG/app/dt.jks -Pandroid.injected.signing.store.password="dt@pwd" -Pandroid.injected.signing.key.alias="dt" -Pandroid.injected.signing.key.password="dt@pwd"

      - name: Upload xray elf
        if: ${{ inputs.build_xray_elf }}
        uses: actions/upload-artifact@v6
        with:
          name: bin-${{ env.x_short_version }}
          compression-level: 9
          path: |
            ${{ github.workspace }}/build/AndroidLibXrayLite/ActionsBuild/Xray-core/build_assets/*.zip

      - name: Upload aar
        uses: actions/upload-artifact@v6
        with:
          name: aar-${{ env.x_short_version }}
          compression-level: 9
          path: |
            ${{ github.workspace }}/build/AndroidLibXrayLite/*.aar

      - name: Upload arm dev apk
        uses: actions/upload-artifact@v6
        with:
          name: apks_arm_v8a_dev-${{ env.x_short_version }}
          compression-level: 9
          path: |
            ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/build/outputs/apk/**/*.apk
            !${{ github.workspace }}/**/*null*
            !${{ github.workspace }}/**/*x86*
            !${{ github.workspace }}/**/*riscv*
            !${{ github.workspace }}/**/*mips*
            !${{ github.workspace }}/**/*armeabi*
            !${{ github.workspace }}/**/*universal*
            !${{ github.workspace }}/**/*fdroid*

      - name: Upload all dev apk
        uses: actions/upload-artifact@v6
        with:
          name: apks_all_dev-${{ env.x_short_version }}
          compression-level: 9
          path: |
            ${{ github.workspace }}/build/v2rayNG/V2rayNG/app/build/outputs/apk/**/*.apk
            !${{ github.workspace }}/**/*null*
            !${{ github.workspace }}/**/*fdroid*

  release:
    if: ${{ inputs.release_archives }}
    needs: [pre, build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Get current date time
        run: |
          echo "current_date_time=$(TZ=Asia/Shanghai date +'%Y-%m-%d-%H-%M')" >> "$GITHUB_ENV"

      - name: Install System Tools
        run: |
          sudo apt install tree -y

      - name: Download apks archives
        uses: actions/download-artifact@v7
        with:
          pattern: "apks_all*"
          merge-multiple: true
          path: ${{ github.workspace }}/apks

      - name: show apks files
        run: |
          tree ${{ github.workspace }}/apks

      - name: apks binaries
        run: |
          find ${{ github.workspace }}/apks/ -type f -name "*.apk" | xargs 7z a -mx9 ${{ github.workspace }}/archives/apks_all-V-${{ env.current_date_time }}.7z
          find ${{ github.workspace }}/apks/ -type f -name "*arm64-v8a.apk" | xargs 7z a -mx9 ${{ github.workspace }}/archives/apks_arm_v8a-V-${{ env.current_date_time }}.7z

      - name: Download bin archives
        uses: actions/download-artifact@v7
        if: ${{ inputs.build_xray_elf }}
        with:
          pattern: "bin*"
          merge-multiple: true
          path: ${{ github.workspace }}/bin

      - name: show bin files
        if: ${{ inputs.build_xray_elf }}
        run: |
          tree ${{ github.workspace }}/bin

      - name: bin binaries
        if: ${{ inputs.build_xray_elf }}
        run: |
          mv ${{ github.workspace }}/bin/*.zip ${{ github.workspace }}/archives/

      - name: show archives files
        run: |
          tree ${{ github.workspace }}/archives

      - name: Release archives
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "V-${{ env.current_date_time }}"
          name: "V-${{ env.current_date_time }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          body: |
            V2rayNG(Xray) build result.
            Xray-core from [${{ needs.pre.outputs.x_branch }}] [${{ needs.build.outputs.xray_short_commit_id }}]
            v2rayNG from [${{ needs.pre.outputs.ng_repo }}] [${{ needs.pre.outputs.ng_branch }}] [${{ needs.build.outputs.ng_short_commit_id }}]
            hev-socks5-tunnel from [${{ needs.build.outputs.hevtun_short_commit_id }}]
          files: |
            ${{ github.workspace }}/archives/**

  build-docker:
    if: ${{ inputs.release_archives }}
    needs: [release]
    uses: ./.github/workflows/docker.yml
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    with:
      release_archives: ${{ inputs.release_archives }}
